body{
  background-image: url(background.jpg);

}

.main-white-background{
  height: 160vh;
  width: 82vw;
  border-style: none;
  box-sizing: border-box;
  background-color: #ffd9c6;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5px;
  border-radius: 20px;
  border-color: #f2419f;
  border-style: double;
}


.main-title{
  font-family: 'Aguafina Script';
  color: white;
  font-size: 2vw;
  background-color: #915a3a;
  text-align: center;
  padding: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  border-color: #ffd9c6;
  border-radius: 25px;
  border-style: double;
}

.nav-bar{
  text-align: center;
  background-color: #f2419f;
  margin-left: 5%;
  margin-right: 5%;
  border-style: hidden;
  border-radius: 25px;
  font-size: 1.8vw;
  bor
}

.nav-bar a{
  text-decoration: none;
  color: white;
}

.nav-bar a:hover{
  color: #915a3a;
}

.main-section{
  background-color: #915a3a;
  border-radius: 25px;
  border-color: #ffd9c6;
  padding-left: 3%;
  padding-top: 1%;
  padding-right: 3%
  padding-bottom: 1%;
  margin-left: 5%;
  border-style: double;
  color: white;
  font-size: 1.5vw;
  width: 46%;
  float: left;
  clear: none;
}
.aside{
  width: 30%;
  min-height: 450px;
  overflow-x: hidden;
  padding-top: 16px;
  background-color: #f2419f;
  border-radius: 25px;
  border-color: #ffd9c6;
  border-style: double;
  margin-right: 5%;
  float: right;
  clear: none;
  font-size: 1.5vw;
  color: white;
  padding-right: 3%;
}

.footer{
  border-top-style: double;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #915a3a;
  font-size: 0.8vw;
  color: #ffd9c6;
  text-indent: 20px
}
